<nav class="nav">
        <a href="/" class="btn btn-primary p-2 m-2" role="button">Home</a>
        <a href="users" class="btn btn-primary p-2 m-2" role="button">Users</a>
        <a href="nodes" class="btn btn-primary p-2 m-2" role="button">Nodes</a>
        <a href="orders" class="btn btn-primary p-2 m-2" role="button">Orders</a>
</nav>