<%- include('../header'); -%>

<h1>List of orders:</h1>
<ul class="list-group">
    <% orders.forEach(function(order){ %>
        <%- include('order', {order:order}); %>
    <% }) %>
</ul>

<%- include('../footer'); -%>